/* ===================================================================
 *
 * Estils Gamespec, projecte final PiCE Girona 2020
 *
 * =================================================================== */

/* Fonts */

@font-face {
  font-family: "titles";
  src: url("../fonts/Baloo/BalooTammudu2-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "body";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
  font-style: normal;
  font-weight: bold;
}

/* Estils generals */

:root {
  --colorCorp: #123abc;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "titles";
}

p {
  font-family: "body";
}

/* Estils header */

.header {
  position: absolute;
  text-align: center;
  top: 40px;
  width: 100%;
}

.header_nav li a {
  display: block;
  color: var(--colorCorp);
}

.header_nav li a:hover {
  color: var(--colorCorp);
  border-bottom: 5px solid var(--colorCorp);
  padding-bottom: 9px;
}

.header_login {
  height: 21px;
  min-width: 21px;
  position: absolute;
  right: 45px;
  top: 100px;
}

.header_login i {
  color: var(--colorCorp);
  transition: all 0.3s ease-in-out;
  font-size: 25px;
}
.header_login i:hover {
  color: rgba(18, 58, 188, 0.4);
}

/* Estils breadcrumb */

.breadcrumb {
  margin-bottom: 30px;
}

ul.breadcrumb-content {
  padding: 10px 16px;
  list-style: none;
  background-color: var(--colorCorp);
  margin-left: 0px !important;
}

ul.breadcrumb-content li:first-child {
  margin-left: 120px;
}

ul.breadcrumb-content li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb-content li + li:before {
  padding: 8px;
  padding-left: 0px !important;
  color: white;
  content: "\f054";
  font-family: "Font Awesome 5 Free";
}

ul.breadcrumb-content li a {
  color: white;
  text-decoration: none;
}

ul.breadcrumb-content li a:hover {
  text-decoration: underline;
}

/* back2Top */

#back2Top {
  width: 50px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  border-radius: 35px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--colorCorp);
  color: white;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  transition: all 0.8s ease-in-out;
}
#back2Top:hover {
  background-color: rgba(18, 58, 188, 0.4);
  color: white;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  ul.breadcrumb-content li:first-child {
    margin-left: 5px;
  }
}

@media only screen and (max-width: 800px) {
  .header_login {
    height: 21px;
    min-width: 21px;
    position: absolute;
    right: 45px;
    top: 25px;
  }
}

/* Altres */

.entry_meta-links a {
  font-family: "titles";
}
