/* ===================================================================
 *
 * Estils Gamespec, projecte final PiCE Girona 2020
 *
 * =================================================================== */

/* Fonts
 * ----------------------------------------------------- */

@font-face {
  font-family: "titles";
  src: url("../fonts/Baloo/BalooTammudu2-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "body";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
  font-style: normal;
  font-weight: bold;
}

/* General
 * ----------------------------------------------------- */

:root {
  --colorCorp: #123abc;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "titles";
}

p {
  font-family: "body";
}

/* Header
 * ----------------------------------------------------- */

.header {
  position: absolute;
  text-align: center;
  top: 40px;
  width: 100%;
}

.header_nav li a {
  display: block;
  color: var(--colorCorp);
}

.header_nav li a:hover {
  color: var(--colorCorp);
  border-bottom: 5px solid var(--colorCorp);
  padding-bottom: 9px;
}

.header_login {
  height: 21px;
  min-width: 21px;
  position: absolute;
  right: 45px;
  top: 100px;
}

.header_login i {
  color: var(--colorCorp);
  transition: all 0.3s ease-in-out;
  font-size: 25px;
}
.header_login i:hover {
  color: rgba(18, 58, 188, 0.4);
}

/* Breadcrumb
 * ----------------------------------------------------- */

.breadcrumb {
  margin-bottom: 30px;
}

ul.breadcrumb-content {
  padding: 10px 16px;
  list-style: none;
  background-color: var(--colorCorp);
  margin-left: 0px !important;
}

ul.breadcrumb-content li:first-child {
  margin-left: 120px;
}

ul.breadcrumb-content li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb-content li + li:before {
  padding: 8px;
  padding-left: 0px !important;
  color: #fff;
  content: "\f054";
  font-family: "Font Awesome 5 Free";
}

ul.breadcrumb-content li a {
  color: #fff;
  text-decoration: none;
}

ul.breadcrumb-content li a:hover {
  text-decoration: underline;
}

/* Footer
 * ----------------------------------------------------- */

footer {
  padding-top: 60px;
}

.footer {
  background-color: var(--colorCorp);
}

.footer_logo {
  width: 265px;
  height: 48px;
  display: block;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.footer_social {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 60px;
}

.footer_social ul {
  list-style: none;
  font-size: 23px;
  line-height: 1;
  margin: 0 45%;
  padding: 0;
  position: absolute;
}

.footer_social li {
  display: inline-block;
  margin-right: 5px;
  padding-left: 0;
}

.footer_social li a:hover {
  color: rgba(255, 255, 255, 0.4);
}

.s-footer_sitelinks {
  border-right: 1px solid;
}

.s-footer_archives {
  border-left: 1px solid;
}

/* back2Top
 * ----------------------------------------------------- */

#back2Top {
  width: 50px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  border-radius: 35px;
  border: 1px solid #fff;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--colorCorp);
  color: #fff;
  text-align: center;
  font-size: 29px;
  text-decoration: none;
  transition: all 0.8s ease-in-out;
}
#back2Top:hover {
  background-color: rgba(18, 58, 188, 0.4);
  color: #fff;
}

/* Index
 * ----------------------------------------------------- */

.featured_date {
  width: 82px;
  white-space: nowrap;
  overflow: hidden;
}

/* Per a una major legibilitat dels titols dels destacats */
.featured h1 {
  text-shadow: 2px 2px 5px #000000;
}

/* Jocs
 * ----------------------------------------------------- */

#games hr {
  margin-bottom: 40px;
}

.single-game p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Número de linies */
  -webkit-box-orient: vertical;
}

/* Articles
 * ----------------------------------------------------- */

.entry_title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Número de linies */
  -webkit-box-orient: vertical;
  height: 60px;
}

/* Fer els paràgrafs més curts */
.article-thumb {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Número de linies */
  -webkit-box-orient: vertical;
}

/* Fer la data més cutra */
.entry_date {
  width: 71px;
  white-space: nowrap;
  overflow: hidden;
}

/* Els nostres redactors
 * ----------------------------------------------------- */

.author-tag {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1px 35px;
  border-radius: 10px;
  margin: 15px;
}

.s-content_author {
  margin: 35px 0px;
}

/*.s-content_author-name {
  color: var(--colorCorp);
}*/

.s-content_author-name {
  transition: all 0.3s ease-in-out;
}

.s-content_author-about a {
  color: var(--colorCorp);
}

.s-content_author-about a:hover {
  color: rgba(18, 58, 188, 0.4);
}

.s-content_author p {
  text-align: justify;
}

.author-social {
  list-style: none;
  margin-left: 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.author-social li {
  display: inline-block;
  margin-right: 1rem;
  padding-left: 0;
}

.author-social a {
  color: var(--colorCorp);
}

.author-social a:hover {
  color: rgba(18, 58, 188, 0.4);
}

.s-content_header-subtitle {
  margin-top: 35px;
}

.articles-redactor {
  padding-top: 2.8rem !important;
}

/* Per fer els titols dels articles de cada autor més curts */
.about h5 {
  width: 700px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--colorCorp);
}

/* Contacta'ns
 * ----------------------------------------------------- */

.contacte {
  padding-bottom: 3rem;
}

/* Estils dels botons "zoom in/out" del mapa de Google*/
#map-wrap #map-zoom-in,
#map-wrap #map-zoom-out {
  height: 3.2rem;
  width: 3.2rem;
  cursor: pointer;
  margin-right: 4rem;
  color: #fff;
  background-color: rgba(18, 58, 188, 0.4);
  display: none;
}

#map-wrap #map-zoom-in:hover::before,
#map-wrap #map-zoom-out:hover::before {
  background-color: var(--colorCorp);
}

#map-wrap #map-zoom-in {
  margin-bottom: 2px;
  margin-top: 30px;
}

#map-wrap #map-zoom-in::before,
#map-wrap #map-zoom-out::before {
  display: block;
  color: #fff;
  text-align: center;
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  height: 32px;
  width: 32px;
  line-height: 32px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

#map-wrap #map-zoom-in::before {
  content: "\f067";
  /*Icono de font awesome d'un signe més*/
}

#map-wrap #map-zoom-out::before {
  content: "\f068";
  /*Icono de font awesome d'un signe menys*/
}

.contact-content {
  margin-top: 6rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

.contact-content .btn {
  margin-top: 30px;
}

/* Newsletter
 * ----------------------------------------------------- */

.newsletter-content {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.s-footer_subscribe h4 {
  color: #000000;
}

#mc-form input[type="submit"] {
  background: var(--colorCorp);
  border-color: var(--colorCorp);
}

#mc-form input[type="submit"]:hover {
  background-color: rgba(18, 58, 188, 0.4);
  border-color: rgba(18, 58, 188, 0);
}

/* Media Queries
 * ----------------------------------------------------- */

@media only screen and (min-width: 1200px) {
  /* Per fer els li dels footer més llargs */
  .s-footer_linklist li {
    width: 150px;
  }
}

@media only screen and (max-width: 1200px) {
  .footer_social ul {
    margin: 0 43%;
  }
  .single-game p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número de linies */
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
  }
  .about article {
    margin-bottom: 0px !important;
  }
  .about h5 {
    width: 350px;
  }
  .s-footer_linklist li {
    width: 110%;
  }
}

@media only screen and (max-width: 940px) {
  .footer_social ul {
    margin: 0 40%;
  }
}

@media only screen and (max-width: 800px) {
  .header_login {
    height: 21px;
    min-width: 21px;
    position: absolute;
    right: 45px;
    top: 25px;
  }
  .footer_social ul {
    margin: 0 38%;
  }
  .s-footer_linklist li {
    width: 125%;
  }
  .s-footer_sitelinks {
    border-right: none;
  }

  .s-footer_archives {
    border-left: none;
  }
}

@media only screen and (max-width: 600px) {
  ul.breadcrumb-content li:first-child {
    margin-left: 5px;
  }
  .contact-content {
    margin-top: 30px;
  }
  .s-footer_linklist li {
    width: 100%;
  }
}

/* Altres
 * ----------------------------------------------------- */

::placeholder {
  color: rgba(0, 0, 0, 0.2) !important;
}

.entry_meta-links a {
  font-family: "titles";
}

.user_image {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.user_image_ {
  width: 300px;
  height: 300px;
  background-image: url(https://i.ytimg.com/vi/K_JlbZe5D0I/maxresdefault.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

#btn_registrarse {
  margin-top: 20px;
}

#portada {
  margin-bottom: 20px;
}

#cke_editor {
  margin-bottom: 20px;
}

/* Botó pàgina login */
.row #contrasenya {
  margin-bottom: 20px;
}

.blue_text {
  color: var(--colorCorp);
}
